@charset 'utf-8';
//引入hotcss的px2rem文件
@import '../lib/hotcss-master/src/px2rem.scss';
//定义设计图宽度
$designWidth:750;
$page-padding:px2rem(26);
$cart-setbottom-h:px2rem(88);
//购物车顶部样式
.top-hd{
    color: #fff;
    background: #9e0958;
    position: relative;
    h3{
        text-align: center;
        font-size: px2rem(30);
        font-weight: 700;
        height: px2rem(90);
        line-height: px2rem(90);
    } 
    .tp-shopCart-edit{
        position: absolute;
        top: px2rem(30);
        right: px2rem(26);
        font-size: px2rem(28);
    }
}
.icon_selected{
    background: #ec1a5a;
        height: px2rem(42);
        width: px2rem(42);
        border-radius: 50%;
        font-size: px2rem(30);
        color: #fff;
        text-align: center;
        line-height: px2rem(42);
        flex: 0 0 px2rem(42);
}
//购物车列表样式
.goods-list{//ul
    margin-bottom: $cart-setbottom-h;
    .goods-item{
        .goods-item-hd{
            border: 1px solid #ccc;
            height: px2rem(72);
            background: #fff;
            padding-left:$page-padding;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            h4{
                font-size: px2rem(28);
                padding-left: px2rem(15);
            }
        }
        .goods-item-bd{
            background: #fff;
            height: px2rem(214);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0 $page-padding;
            .goods-item-bd-l{
                padding: px2rem(18);
                a{
                    display: block;
                    img{
                        display: block;
                        vertical-align: top;
                        width: px2rem(185);
                        height: px2rem(180);
                        background: pink;
                    }
                }
            }
            .goods-item-bd-r{
                height: px2rem(180);
                line-height: px2rem(27);

                margin-left: px2rem(15);
                .goods-item-name{
                    font-size: px2rem(22);
                    height: px2rem(54);
                }
                .goods-item-sku{
                    font-size: px2rem(22);
                    // height: px2rem(27);
                    .sku-name{
                        color: #666;
                    }
                    .sku-value{
                        color: #ec1a5a;
                    }
                }
                .yx-sjicon-wrap{
                     height: px2rem(17);   
                     width: px2rem(168);
                     background: pink;   
                }
                .goods-item-price{
                    color: #ec1a5a;
                    font-size: px2rem(22);
                    line-height: 1.5;
                }
                .goods-item-edit-wrap{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    height: px2rem(48);
                    .edit-count-wrap{
                        border: 1px solid #ccc;
                        border-radius: px2em(4);
                        overflow: hidden;
                        span{
                            font-size: px2rem(20);
                            padding: 0 px2rem(12);
                            float: left;
                            height: px2rem(40);
                            line-height:px2rem(40);
                            border-left: 1px solid #ccc;
                            &:first-child{
                                border-left: none;
                            }
                        }
                    }
                    .edit-btn{
                        font-size: px2rem(35);
                    }
                }
            }
        }
        .goods-item-sep{
            background: #eee;
            height: px2rem(20);
        }
    }
}
.goods-account-wrap{
    padding-left: $page-padding;
    box-sizing: border-box;
    width: 100%;
    height: $cart-setbottom-h;
    background: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    overflow: hidden;
    .account-l{
        float: left;
        font-size: px2rem(32);
        line-height: $cart-setbottom-h;
        a{
            display: block;
        }
        i{
            display: inline-block;
            height: px2rem(40);
            width: px2rem(40);
        }
    }
    .account-r{
        float: right;
        display: flex;
        justify-content: space-between;
        font-size: px2rem(24);
        .account-r-sum{
            width: px2rem(238);
            height: $cart-setbottom-h;
            line-height: $cart-setbottom-h;
            .price-num{
                color: #f61c5a;
            }
        }
        .account-settle{
            width: px2rem(222);
            height: $cart-setbottom-h;
            line-height: $cart-setbottom-h;
            box-sizing: border-box;
            color: #fff;
            background: linear-gradient(to right,#910758,#f61c5a);
            text-align: center;
            
        }
    }
}